.post__container {
    width: 680px;
    margin: auto;

    box-shadow: 0 0 10px 1px lightgray;
    font-family: 'Roboto', sans-serif;

    margin-top: 20px;
}

.post__info, .comment__info {
    position: relative;
    /*margin: 25px;*/
    display: inline-block;
    margin: 10px 0 10px 0;

    width: 100%;
}

.post__username, .comment__username {
    margin-left: 10px;
    text-decoration: none;
}

.post__date, .comment__date {
    position: absolute;
    right: 10px;

    font-size: 0.8em;
    color: #707070;
}

.post__line {
    margin: 0;
}

.post__image {
    display: block;

    width: 640px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post__like-block {
    display: flex;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;
}

.post__container .post__delete {
    position: absolute;

    right: 10px;
}

.like, .comment-icon, .comment-delete, .post-delete {
    color: #808080;
}

.like {
    margin-right: 3px;
}

.like:hover, .comment-icon:hover, .comment-delete:hover, .post-delete:hover {
    cursor: pointer;
}

.comment-icon:hover, .comment-delete:hover, .post-delete:hover {
    color: black;
}

.liked {
    color: #ff4c31;
}

.post__interaction-container {
    display: flex;

    position: relative;

    margin-top: 5px;
}

.post__comment-editor {
    display: none;
}

.post__container .input-form {
    margin-top: 10px;
}

.post__container::after {
    display: inline-block;
    height: 5px;
    content: " ";
}

.post__container textarea {
    display: block;
    resize: none;

    width: 95%;
    margin: auto;

    font-size: 14px;
}

.post__container .input-form__submit {
    display: block;

    height: 30px;
    margin-top: 10px;
    font-size: 12px;
    color: white;
    background-color: #1f78d1;
    border-radius: 3px;
    border: none;

    position: relative;
    left: calc(100% - 40px - 30px);
}

.post__container .input-form__submit:hover {
    cursor: pointer;
}

.post__container .comment__container {
    position: relative;

    width: 95%;
    margin: auto;

    margin-top: 10px;
}

.post__container .comment__content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 15px;
}

.post__container .comment-delete {
    position: absolute;

    bottom: 0;
    right: 0;
}

.post__container .comment__line {
    margin-top: 0;
}

.post__container .comment__info {
    margin-top: 0;
    margin-bottom: 0;
}

