.*
!.gitignore

# Database volume
database

# Local data base dump
db_dump

# nginx logs
nginx/logs

#smtp relay data
php-fpm/ssmtp.env

# Controller for testing propose
app/controllers/EmptyController.php
