.flexible__frame {
    position: relative;

    display: inline-block;

    border: 1px solid black;
}

:root {
    --point-size: 10px;

    --offset: 5px;

    --negative-full-shift: calc(0px - var(--point-size) - var(--offset));
    --center: calc(50% - var(--point-size) / 2);
    --offset-shift: calc(100% + var(--offset));
}

.flexible__point {
    width: var(--point-size);
    height: var(--point-size);

    background-color: #1f78d1;
    border-radius: 5px;

    position: absolute;
}

.flexible__position-top-left {
    top: var(--negative-full-shift);
    left: var(--negative-full-shift);

    cursor: nw-resize;
}

.flexible__position-top-center {
    top: var(--negative-full-shift);
    left: var(--center);

    cursor: n-resize;
}

.flexible__position-top-right {
    top: var(--negative-full-shift);
    left: var(--offset-shift);

    cursor: ne-resize;
}

.flexible__position-middle-left {
    top: var(--center);
    left: var(--negative-full-shift);

    cursor: w-resize;
}

.flexible__position-middle-right {
    top: var(--center);
    left: var(--offset-shift);

    cursor: e-resize;
}

.flexible__position-bottom-left {
    top: var(--offset-shift);
    left: var(--negative-full-shift);

    cursor: sw-resize;
}

.flexible__position-bottom-center {
    top: var(--offset-shift);
    left: var(--center);

    cursor: s-resize;
}

.flexible__position-bottom-right {
    top: var(--offset-shift);
    left: var(--offset-shift);

    cursor: se-resize;
}
