#camera__capture {
    position: relative;

    width: 640px;
    height: 480px;

    border: 3px solid blue;
}

#camera__canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.camera__button {
    width: 60px;
    height: 60px;

    border-radius: 30px;
    border: none;
}

span.fa-camera {
    display: none;
}

#camera__toolbar image {
    z-index: 500;
}

#camera__filter-container {
    position: absolute;
    width: 640px;
    height: 480px;

    left: 0;
    top: 0;
}