#user__capture {
    position: relative;

    width: 640px;
    height: 480px;

    border: 3px solid blue;
}

#user__canvas {
    position: absolute;
    left: 0;
    top: 0;
}


img {
    width: 150px;
}

.user__button {
    width: 60px;
    height: 60px;

    border-radius: 30px;
    border: none;
}

span.fa-camera {
    display: none;
}

#user__toolbar image {
    z-index: 500;
}

#user__filters {
    position: absolute;
    width: 640px;
    height: 480px;

    left: 0;
    top: 0;
}