.input-form {
    position: relative;
    top: 20px;

    width: 400px;
    /*min-height: 500px;*/
    margin: auto;

    box-shadow: 0 0 10px 1px lightgray;

    font-family: 'Roboto', sans-serif;
}

.input-form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-form__header {
    text-align: center;

    color: black;

    font-size: 32px;
    font-weight: 900;

    margin: 0px;
    padding: 20px;
}

.input-form__line {
    width: 100%;

    background-color: #1f78d1;
    height: 5px;
    border: none;
    margin-bottom: 20px;
    margin-top: 0;
}

.input-form__unit {
    width:  300px;
    margin: auto;
    margin-bottom: 20px;
}

.input-form__input {
    display: block;
    box-sizing: border-box;
    width: 100%;


    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;

    border-radius: 2px;
    border: 1px solid lightgray;
}

.input-form__input::placeholder {
    /*font-style: italic;*/
}


.input-form__submit{
    display: block;

    width: 30%;
    height: 30px;

    margin: auto;
    margin-bottom: 20px;

    font-size: 16px;
    color: white;
    background-color: #1f78d1;

    border-radius: 3px;
    border: none;
}

.input-form__validation {
    font-size: 13px;

    margin: 0;
}

.valid-message {
    color: green;
}

.invalid-message {
    color: red;
}

.valid-input {
    border-color: limegreen;
    box-shadow: 0 0 3px 1px limegreen;
}

.invalid-input {
    border-color: red;
    box-shadow: 0 0 3px 1px #ff4c31;
}
