#camera__container {
    display: flex;

    flex-direction: column;
    align-items: center;
}

#camera__capture {
    position: relative;
    border: 2px solid black;
}

#camera__canvas, #camera__filter-container {
    position: absolute;
    left: 0;
    top: 0;
}

#camera__capture, #camera__video {
    width: 640px;
    height: 480px;
}

.camera__button {
    width: 60px;
    height: 60px;

    border-radius: 30px;
    border: none;
}

span.fa-camera {
    display: none;
}

#camera__toolbar image {
    z-index: 500;
}

