#toolbar__container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#toolbar__container > img {
    margin: 10px;

    display: block;
    /*max-width:150px;*/
    /*max-height:95px;*/
    /*width: auto;*/
    height: auto;
}

